<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet" />
		<script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
		<title>Crypto Lister</title>
</head>
  <body class="container">
		<h1>Crypto Lister</h1>
                <ul class="login">
                    <li><a href="/auth/logout">Logout</a></li>
					<li><a href="/auth/login">Login</a></li>
					<li><a href="/profile">Favorites</a></li>
                </ul>
		<div class = "row">
			<div class="jumbotron col-xs-offset-2 col-xs-8">
				<p>
					This site lists the top 100 cryptocurrencies by marketcap 
					and allows the user to choose his favorites that are shown on the favorites tab.
				</p>
			</div>
		</div>
	<div id = "app">
		<table class="table striped">
			<thead>
				<tr>
					<td>Rank</td>
					<td>Name</td>
					<td>Symbol</td>
					<td>Price</td>				
					<td>1D</td>
					<td class="mktcap">Market Cap (USD)</td>
			</thead>
			<tbody>
					<tr v-cloak v-for = "(coinData, index) in coinsData">
						<td class="rank"> {{ index+1 }} </td>
						<td><img v-bind:src="getCoinImage(coinData.CoinInfo.FullName)" height="30" width="30">  {{coinData.CoinInfo.FullName}} </td>
						<td> {{coinData.CoinInfo.Name}} </td>
						<td> {{coinData.RAW.USD.PRICE | toCurrency}} </td>
						<td v-bind:style="getColor(coinData.RAW.USD.CHANGEPCT24HOUR)">
							<span v-if="coinData.RAW.USD.CHANGEPCT24HOUR > 0">+</span>{{ coinData.RAW.USD.CHANGEPCT24HOUR | round(2) }}%
						</td>
						<td class="mktcap"> {{coinData.RAW.USD.MKTCAP | toCurrency}} </td>
						<td >
							<div v-on:click= "createFavorite(coinsData[index].CoinInfo.FullName)">
								<i  class="material-icons click">favorite</i>
							</div>
						</td>			
					</tr>
			</tbody> 			
		</table>	
	</div>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="js/app.js"></script>
		</body>
</html>
