<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Crypto Lister</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    
</body>
</html>

<!DOCTYPE html>
<html>
<head>
  
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
		<link rel="stylesheet" href="/css/stylesLogin.css">
		

</head>
  <body class="container">
        <h1>Login Using...</h1>
        
        <main>
                <a class="google-btn" href="/auth/google"><img src="/img/google-btn.png"></a>
        </main>

        <nav class = "login">
                    <li><a href="/auth/logout">Logout</a></li>
                    <li><a href="/">Homepage</a></li>
        </nav>
        
        

	<div id = "app">
	</div>
	
	<!--JavaScript at end of body for optimized loading-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	

	</body>
</html>
