<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet" />
		<script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>		
		<title>Crypto Lister</title>
</head>
  <body class="container">
		<h1>Crypto Lister</h1>
                <ul class="login">
                    <li><a href="/auth/logout">Logout</a></li>
					<li><a href="/">Main page</a></li>
				</ul>
		<div class = "row">
			<div class="jumbotron col-xs-offset-2 col-xs-8">
				<p>
					Your favorite coins
				</p>
			</div>
		</div>
	<div id = "app">
		<table class="table striped">
			<thead>
				<tr>
					<td>Name</td>
					<td>Symbol</td>
					<td>Price</td>				
					<td>1D</td>
					<td>Market Cap (USD)</td>
			</thead>
			<tbody>
				<ul>
					<tr v-cloak v-for = "(favoriteList, index) in favoritesList">
						<td><img v-bind:src="getCoinImage(favoriteList.CoinInfo.FullName)" height="30" width="30">  {{favoriteList.CoinInfo.FullName}} </td>
						<td> {{favoriteList.CoinInfo.Name}} </td>
						<td> {{favoriteList.RAW.USD.PRICE | toCurrency}} </td>						
						<td v-bind:style="getColor(favoriteList.RAW.USD.CHANGEPCT24HOUR)">
							<span v-if="favoriteList.RAW.USD.CHANGEPCT24HOUR > 0">+</span>{{ favoriteList.RAW.USD.CHANGEPCT24HOUR | round(2) }}%
						</td>
						<td> {{favoriteList.RAW.USD.MKTCAP | toCurrency}} </td>
						<td >
							<div v-on:click= "deleteFavorite(favoritesList[index].CoinInfo.FullName)">
								<i  class="material-icons click">close</i>
							</div>
						</td>	
					</tr>
				</ul>
			</tbody>
		</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="js/app.js"></script>   
		</body>
</html>

