.login {
	text-align: right;
	margin-right: 2vw;
}
.click {
	cursor: pointer;
}

h1 {
	text-align: center;
	margin-top: 2vw;
}

td {
	text-align: left;
	font-size: 1em;
	border-radius: 1vw;
	border-left-color: black;
}

.rank {
	text-align: center;
}

.jumbotron p {
	font-size: 2vw;
	text-align: center;
}

.jumbotron {
	margin-top: 2.4em;
	margin-bottom: 2em;
}

body {
	
	padding-right: 0.5vw;
	padding-left:  0.5vw;
}

table{
	width: 100%;
	text-align: center;

}
thead{
	text-align: center;
}
main{
    text-align: center;
    margin-right: 1vw;
}

li{
    list-style-type: none;
    display: inline-block;
}

a {
    color: white;
    font-size: 1em;
    background: #ff5353;
    text-decoration: none;
    padding: 0.6vw;
	display: block;
	border-radius: 4px;
}

@media screen and (max-width: 565px) and (min-width: 300px) {
	.mktcap{
		display:none;
	}	
}